body {background: #fff; color: #000;font: 24px/1.3 georgia, arial, sans-serif; padding: 50px;}

.wrapper {width: 450px;}

p {
  padding: 10px;
  margin: 0;
  color: #fff;
  background: maroon;
}

p + p {
  background: tomato;
}

/* Comment réordonner les deux éléments seulement en css ? */

p {
  display: table-cell;
}

p + p {
  display: table-caption;
}
